body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind the content */
  }

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: visible;
    scroll-behavior: auto;
    background-color: #333333;
}

/* Apply a background color to the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

/* Style the title */
.name {
    font-size: 3rem;
}

/* Style the navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

/* Style the navigation items */
.nav-item {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

/* Apply styles to the active navigation item */
.nav-item.active {
    background-color: #fff;
    color: #333;
}

/* Remove list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}

ul li :hover {
    background-color: white;
    color:#000000;
}

  .CV-container {
    width: 100%;
    min-height: 100vh;
    background: #333;
    padding: 0;
    margin: 0;
  }
  .CV-image {
    perspective: 3000px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50vw - 0px);
    top:425px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
  }
  .CV-image img {
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
    transition: all .4s;
    transform-style: preserve-3d;
  }
  .CV-image:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  }



/* Media query for responsiveness */
@media (max-width: 800px) {
    .navbar {
      flex-direction: column;
    }

    /* Add new styles for smaller screens */
    .nav-item {
      display: block; /* Make each item a block element */
      margin: 0;
      padding: 10px;
    }

    body {
        overflow-y: visible;
        overflow-x: visible;
      }
    
    .CV-image {
        top: 615px;
        left: calc(50vw - 10px);
    }
  }


@media (min-width: 800px) {
    .CV-ClickHereContainer {
        z-index: 100;
        position: absolute;
        top: 50%; /* Adjust this value as needed */
        right: calc(-100px + calc((100vw - 800px) / 2));
        transform: translate(-50%, -50%);
        background: transparent;
        width: 200px;
    }

    
}




.CV-Message {
        color: #fff;
        font-size: xx-large;
        font-family: 'Poppins', sans-serif;
}

.CV-ClickHereContainer {
    display: none; /* Hide the CV message by default */
}



@media (min-width: 800px) {
    .CV-ClickHereContainer {
        display: none; /* Hide the CV message by default for screen widths > 800px */
    }
    .CV-image:hover + .CV-ClickHereContainer {
        display: block; /* Show the CV message when hovering over the CV image */
    }
}





















@media (min-width: 800px) {
    #content {
        text-align: center;
        position: relative;
        width: 70vw;
    }

    #PSimage, #videoPlayer {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50px;
        left: 15vw;
        z-index: 1;
    }

    #videoPlayer {
        display: none;
        width: 70vw; /* Set the video's width to match the image's width */
        height: auto; /* Maintain aspect ratio */
        position: relative;
    }

    #buttons {
        position: relative;
        z-index: 2;
    }

    body {
        align-content: centre;
    }
}

@media (max-width: 800px) {
    #content {
        text-align: center;
        position: relative;
        width: 90vw;
    }

    #PSimage, #videoPlayer {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50px;
        left: 5vw;
        z-index: 1;
    }

    #videoPlayer {
        display: none;
        width: 90vw; /* Set the video's width to match the image's width */
        height: auto; /* Maintain aspect ratio */
        position: relative;
    }

    #buttons {
        position: relative;
        z-index: 2;
    }

    body {
        align-content: centre;
    }
}